.card {
	transition: 0.2s;
}
.disangphai {
	/*transform: translateX(400px);*/
	animation: sangphai 1s forwards ;
}
@-webkit-keyframes sangphai {
	0% {transform: translateX(0);opacity: 1;margin-top: 0px;);}
	50% {transform: translateX(600px);opacity: 1;margin-top: 0px;);}
	100% {transform: translateX(600px);opacity: 0;margin-top: 200px;}
}